body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}


.hero-container{
    display: flex;
    align-items: center;
    background-color: lightgreen;
    border-radius: 25px;
    padding: 20px;
    font: size 1.25em;

}
.hero-container button{
    background-color: aqua;
    padding: 5px 10px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    cursor: pointer;
}
.heroc-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
    box-shadow: 100px gray;

}
