body{
    max-width: 1170px;

    margin: 0 auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgb(212, 102, 102);

}
card:hover{
    background-color: aquamarine;
}
.card img{
    width: 100%;
    border-radius:10px ;
}
.card button{
    border-radius: 25px;
}

.card h3{
    font-size: 1.25em;
    font-weight: 700;
}