fieldset{
    color: rgb(5, 5, 5);
    background-color: lightcyan;
    border: 2px;
    border-radius: 20px;
}
textarea{
    background-color: bisque;
    border: 20x;
    border-radius: 15px;
    display: flex;
    gap: 30px;
}
select{
    border-radius: 10px;
    background-color: rgb(62, 192, 186);
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(56, 81, 224);
}